header {
    z-index: 1;
    height: 80px;
    background-color: #FFF;
    
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    
    -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.5);
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: end;
    column-gap: 10px;
    
}
.logo p{
    font-family: Ubuntu;
    font-size: 36px;
}
.info {
    cursor: pointer;
    transition: all ease-in-out .2s;
}
.info:hover {
    scale: 1.05;
}
.header_wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 50px;
}
.autorization {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    font-size: 26px;
    font-family: Ubuntu;
}

.autorization p {
    text-decoration:none; /*Убираем стандартное подчёркивание ссылки если оно ещё не убрано*/
    display: inline-block; /*делаем чтобы наша ссылка из строчного элемента превратилась в строчно-блочный*/
    line-height: 1; /*Задаём высоту строки (можно в пикселях)*/
    color:#000000;/*Задаём цвет ссылки*/
    cursor: pointer;
}
.autorization p:after {
    display: block; /*превращаем его в блочный элемент*/
    content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
    height: 1.5px; /*задаём высоту линии*/
    width: 0%; /*задаём начальную ширину элемента (линии)*/
    background-color: #000000; /*цвет фона элемента*/
    transition: width 0.4s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}
.autorization p:hover:after,
.autorization p:focus:after {
width: 100%;
}

/* how it works section */

.howItWorks {
    margin-top: 120px;
    display: flex;
    flex-flow: column wrap;
    width: 500px;
    height: 250px;
    justify-content: space-between;
    
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    background: rgb(247, 247, 247);

    padding: 15px 30px;
}
.howItWorks__wrap {
    position: relative;
    display: flex;
    flex-flow: column wrap;
}
.howItWorks__text {
    display: flex;
    flex-flow: column wrap;
    row-gap: 20px;
    text-align: center;
}
.howItWorks__text h1 {
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
}
.howItWorks__text p {
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: justify;    
}
.howItWorks button {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4;
    padding: 12px 17px;
    color: #FFF;
    width: fit-content;

    border: none;
    border-radius: 4px;
    background: rgb(108, 117, 125);

    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
}
.howItWorks__cross {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 30px;
}
.howItWorks__cross, .howItWorks button {
    scale: .98;
    transition: scale ease-in-out .2s;
}
.howItWorks__cross:hover, .howItWorks button:hover {
    scale: 1;
}






@media (max-width: 1024px) {
    .logo img {
        width: 40px;
        height: 40px;
    }
    .logo p {
        font-size: 26px;
    }
    .burger {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
    }
    .burger__menu {
        display: none;
    }
    .line {
        width: 30px;
        border: solid 2px black;
    }
}