
.modal_wrap.active {
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}
.wrap {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    opacity: 0;
    transition: opacity .3s;
}
.wrap * {
    scale: 0;
    transition: scale .2s ease-out;
}
.wrap.active {
    opacity: 1;
}
.wrap.active *{
    scale: 1;
}