footer {
    display: flex;
    height: 80px;
    background-color: white;

    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;

}
.page_wrap {
    flex-direction: row;
    justify-content: space-between;
}
.page {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all ease-in-out .1s;
    cursor: pointer;
}
.page:hover {
    scale: 1.05;
}
.active_page {
    color: rgb(0, 0, 255);
}
.active_page:hover {
    scale: 1;
}